[build]
  command = "npm install --legacy-peer-deps && npm run build && cd netlify/functions && npm install"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"
  included_files = ["dist/**", "netlify/functions/node_modules/**"]
  external_node_modules = ["serverless-http", "module-alias", "pg-native", "bcrypt", "better-sqlite3"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

